{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    {{ form_title }} - Edit - New Chart
{% endblock title %}

{% block content %}


<div class="card border rounded shadow-lg">
    <div class="card-body">
        <h1>Edit Your Chart!!</h1>
        <form class="d-grid" method="POST">
            {% csrf_token %}
            {% bootstrap_form formChartProp exclude='stateAbr' %}
            {% bootstrap_form formState %}
        {% for message in messages %}
    
            <div class="alert alert-danger">
                <a class="close" href="#" data-dismiss="alert"></a>
                {{ message }}
            </div>

        {% endfor %}
            
        
            <button class="btn btn-lg btn-primary">Replot</button>
        </form>
    </div>
</div>
<br/>
<div>   
    <div>
        Remove State
    </div>
        <div class="CustomButton"></div>
            {% for state in states %}
            <button class="btn btn-sm btn-primary">
                <a href="{% url 'deleteState' state.chart state.id %}" class="link-light">{{state.state}}</a>
            </button>
        
        {% endfor %}
    </div>
</div>
        
        {{ rendered_chart|safe}}
    </br>

<button class="btn btn-lg btn-primary">
    <a href="{% url 'userPage' user.username %}" class="link-light">Save</a>
</button>
{% endblock content %}