{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    {{ form_title }} - Edit - New Chart
{% endblock title %}

{% block content %}


<div class="card border rounded shadow-lg">
    <div class="card-body">
        <h1>{{ form_title }}</h1>
        <form class="d-grid" method="POST">
            {% csrf_token %}
            {% bootstrap_form formChart exclude='stateAbr' %}
            {% bootstrap_form formState layout='inline' %}
            
            
            <button class="btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>
<div>   
    <inline>
        {% for state in states %}
        <button>
            <a href="{% url 'deleteState' state.chart state.id %}">{{state.state}}</a>
        </button>
    </inline>
</div>
        {% endfor %}
        {{ rendered_chart|safe}}
    </br>

<button>
    <a href="{% url 'userPage' user.username %}">Save</a>
</button>
{% endblock content %}