{% extends "base.html" %}
{% load django_bootstrap5 %}
{% include "snippets/navbar.html" %}

{% block content %}

    {% for rendered_chart in rendered_charts %}
     {{ rendered_chart.plot|safe }} 
        <button> 
            <a href= "{% url 'editChart' user.username rendered_chart.chart_id %}" > Edit </a> 
        </button>
        <button> 
            <a href= "{% url 'deleteChart' user.username rendered_chart.chart_id %}" > Delete </a> 
        </button>
   {% endfor %}
    


    </br>
    
    <button> 
        <a href= "{% url 'createChart' user.username%}" > Create </a> 
    </button>

{% endblock content %}