{% extends "base.html" %}
{% load django_bootstrap5 %}
{% include "snippets/navbar.html" %}
{% include "snippets/icons/chart-icon.svg" %}
<img src="snippets/icons/chart-icon.svg" alt="">

{% block content %}
<img src="snippets/icons/chart-icon.svg" alt="">
<button class="btn btn-lg btn-primary"> 
    <a href= "{% url 'createChart' user.username%}" class="link-light"> Create </a> 
</button>

    {% for rendered_chart in rendered_charts %}
     {{ rendered_chart.plot|safe }} 
        <button class="btn btn-sm btn-primary"> 
            <a href= "{% url 'editChart' user.username rendered_chart.chart_id %}" class="link-light"> Edit </a> 
        </button>
        <button class="btn btn-sm btn-primary"> 
            <a href= "{% url 'deleteChart' user.username rendered_chart.chart_id %}" class="link-light"> Delete </a> 
        </button>
   {% endfor %}
    


    </br>
    
  

{% endblock content %}