<div class="hero-unit mb-5 pt-5 pb-5 shadow-lg">
    <div class="container">
        <h1 class="text-light">
            {% include "snippets/icons/book2.svg" %}
            The Book Club
        </h1>
        <p class="text-light">
            Welcome to <em>The Book Club</em>, where our patented trending
            algorithm determines the <strong>ABSOLUTE HOTTEST</strong> book
            club reading lists!
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="{% url 'signup' %}">Sign-up to get book clubbing!</a>
            <a class="btn btn-link text-light" href="{% url 'login' %}">Already have an account? Log in now.</a>
        </p>
    </div>
</div>

