<div class="hero-unit mb-5 pt-5 pb-5 shadow-lg">
    <div class="container">
        <h1 class="text-dark">
            
            The Covid Awareness Initiative
        </h1>
        <p class="text-dark">
            Welcome to <em>The Covid Awareness Initiative</em>, please create an account to interact with the site!
            <strong>Happy Charting</strong>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="{% url 'signup' %}">Sign-up to get plotting!</a>
            <a class="btn btn-link text-light" href="{% url 'login' %}">Already have an account? Log in now.</a>
        </p>
    </div>
</div>

